<!DOCTYPE html>
<html>
  <head>
    <% include common/_head %>
    <title><%= pages[0].title %></title>
    <meta name="description" content="<%= pages[0].description %>">
  </head>
  <body>
    <div class="wrapper">
      <% include common/_header %>
      <section class="TopHero">
        <div class="TopHero__Wrapper Container">
          <div class="TopHero__Texts mT40">
            <p class="TopHero__Logo"><img src="/img/logo.png" alt="COQOON" class="Logo Logo--topHero"></p>
            <h1 class="TopHero__Title"><span class="mR20">作ったら。</span><span>飾りに行こう。</span></h1>
            <h2 class="TopHero__SubTitle">学生クリエイターのためのオンラインギャラリー</h2>
          </div>
          <a href="#" class="Button Button--green">ギャラリーに行ってみる</a>
        </div>
        <span class="Arrow js-Arrow" aria-hidden="true"></span>
      </section>
      <section class="About">
        <div class="About__Wrapper Container">
          <div class="About__Right">
            <h2 class="SectionCaption mB30"><%= caption[0].title  %></h2>
            <p class="About__Description">COQOONとは、無料でオンラインギャラリーを提供し、学生クリエイターの作品を売り買いできるサービスです。個人で制作した「作品」を<span class="font22">ブース</span>に登録して出品できます。</p>
            <a href="#" class="Button Button--green">ブースに登録する</a>
          </div>
          <div class="About__Left js-hideme">
            <p class="About__Image"><img src="/img/about_image.png" alt=""></p>
          </div>
        </div>
      </section>
      <section class="Features">
        <div class="Features__Wrapper Container">
          <h2 class="SectionCaption mB50"><%= caption[1].cap %></h2>
          <div class="Features__Block js-hideme">
            <section class="Features__Item">
              <figure class="Features__Image mB30">
                <img src="/img/features01.png" alt="">
              </figure>
              <h3 class="Features__Caption mB10"><%= features[0].cap %></h3>
              <p class="Features__Description"><%= features[0].desc %></p>
            </section>
            <section class="Features__Item">
              <figure class="Features__Image mB30">
                <img src="/img/features02.png" alt="">
              </figure>
              <h3 class="Features__Caption mB10"><%= features[1].cap %></h3>
              <p class="Features__Description"><%= features[1].desc %></p>
            </section>
            <section class="Features__Item">
              <figure class="Features__Image mB30">
                <img src="/img/features03.png" alt="">
              </figure>
              <h3 class="Features__Caption mB10"><%= features[2].cap %></h3>
              <p class="Features__Description"><%= features[2].desc %></p>
            </section>
            <section class="Features__Item">
              <figure class="Features__Image mB30">
                <img src="/img/features04.png" alt="">
              </figure>
              <h3 class="Features__Caption mB10"><%= features[3].cap %></h3>
              <p class="Features__Description"><%= features[3].desc %></p>
            </section>
          </div>
        </div>
      </section>
      <% include common/_footer %>
    </div>
    <script src="/js/style.js"></script>
  </body>
</html>
