<!DOCTYPE html>
<html>
  <head>
    <% include common/_head %>
  <title><%= json.pages[0].title %></title>
    <meta name="description" content="<%= json.pages[0].desc %>">
  </head>
  <body>
    <div class="wrapper">
      <% include common/_header %>
      <section class="TopHero">
        <div class="TopHero__Wrapper Container">
          <div class="TopHero__Texts mT40">
            <p class="TopHero__Logo"><img src="/img/logo.png" alt="COQOON" class="Logo Logo--topHero"></p>
            <h1 class="TopHero__Title"><span class="TopHero__TitleSpan mR20">作ったら。</span><span>飾りに行こう。</span></h1>
            <h2 class="TopHero__SubTitle">学生クリエイターのための<br class="sp-br">オンラインギャラリー</h2>
          </div>
          <a href="#" class="Button Button--green">ギャラリーに行ってみる</a>
        </div>
        <span class="Arrow js-Arrow" aria-hidden="true"></span>
      </section>
      <section class="About" id="js-About">
        <div class="About__Wrapper Container">
          <div class="About__Right">
            <h2 class="SectionCaption mB30"><%= json.caption[0].title %></h2>
            <p class="About__Description">COQOONとは、無料でオンラインギャラリーを提供し、学生クリエイターの作品を売り買いできるサービスです。個人で制作した「作品」を<span class="font22">ブース</span>に登録して出品できます。</p>
            <a href="#" class="Button Button--green">ブースに登録する</a>
          </div>
          <div class="About__Left js-hideme">
            <p class="About__Image"><img src="/img/about_image.png" alt=""></p>
          </div>
        </div>
      </section>
      <section class="Features" id="js-Features">
        <div class="Features__Wrapper Container">
          <h2 class="SectionCaption mB50"><%= json.caption[1].title %></h2>
          <div class="Features__Block">
            <% loop.forEach(function(loop){ %>
            <section class="Features__Item js-hideme">
              <figure class="Features__Image mB30">
                <img src="/img/features<%= loop.imageNum %>.png" alt="">
              </figure>
              <h3 class="Features__Caption mB10"><%= loop.cap %></h3>
              <p class="Features__Description"><%= loop.desc %></p>
            </section>
            <% }); %>
          </div>
        </div>
      </section>
      <div class="Banner Banner--top">
        <div class="Banner__Wrapper Container">
          <h3 class="Banner__Caption mB30">作った。そのまま？</h3>
          <p class="Banner__Text mB50">「<span class="font22">部屋</span>」から「<span class="font22">外</span>」へ飾りに行こう <br class="pc-br">COQOONのギャラリーには、ジャンルには表せられない程の<br class="pc-br">作品が出品されています。COQOONなら誰でもどんな作品でも<br class="pc-br">ギャラリーに飾ることができます。</p>
          <a href="#" class="Button Button--clear mA">ギャラリーに行ってみる</a>
        </div>
      </div>
      <section class="Service" id="js-Service">
        <div class="Service__Wrapper Container">
          <h2 class="SectionCaption mB20"><%= json.caption[2].title %></h2>
          <p class="Service__Description mB40">COQOONでは、作品をブースに登録する事で、無料でオンラインギャラリーに出品できます。<br class="pc-br">また、他のユーザーが出品した作品を買う事もできます。<br class="pc-br">まずは自分のブースを登録してみましょう!</p>
          <ol class="Service__Flow js-hideme">
            <li class="Service__Item Service__Item--green js-Service__Item poR"><span class="Service__Number">1</span><span class="Service__Text">個人で作った作品を<br class="pc-br">ブースに登録</span><span class="Border Border--top js-Border--top"></span><span class="Border Border--bottom js-Border--bottom"></span></li>
            <li class="Service__Item"><span class="Service__Number">2</span><span class="Service__Text">ブースに登録した<br class="pc-br">作品をギャラリーに出品</span></li>
            <li class="Service__Item"><span class="Service__Number">3</span><span class="Service__Text">出品された作品を<br class="pc-br">ギャラリー内で<br class="pc-br">売買しよう</span></li>
            <li class="Service__Item Service__Item--extra poR"><span class="Service__Number">EX</span><span class="Service__Text Service_">作品を出品すると、<br class="pc-br">企業からスカウトがきます。</span><span class="Border Border--Extra js-Border--Extra"></span></li>
          </ol>
          <a href="#" class="Button Button--green mA mT50">ブースに登録する</a>
        </div>
      </section>
      <section class="Portfolio" id="js-Portfolio">
        <div class="Portfolio__Wrapper Container">
          <h2 class="SectionCaption js-SectionCaption mB20"><%= json.caption[3].title %></h2>
          <p class="Portfolio__Description mB50">COQOONでは、ブースを自身のポートフォリオとしてご利用いただけます。<br class="pc-br">作品をブースに登録し出品すると、ブースを参考に企業からスカウトがもらえたり、直接声がかかります。また、ブースをポートフォリオとして使い就職活動をする事ができます。<br class="pc-br">作品を出品して企業からスカウトをもらおう！</p>
          <div class="Portfolio__GetScout js-hideme">
            <p class="Portfolio__GetScoutText">スカウトがもらえる企業一覧</p>
            <div class="Portfolio__Companies">
              <% com.forEach(function(com){ %>
                <p class="Portfolio__CompanyImage"><img src="/img/com_<%= com.ComNum %>.png" alt=""></p>
              <% }); %>
            </div>
          </div>
        </div>
      </section>
      <section class="Gallery Product" id="js-Gallery">
        <div class="Gallery__Wrapper Container">
          <h2 class="SectionCaption js-SectionCaption mB20"><%= json.caption[4].title %></h2>
          <p class="Gallery__Description mB20">最近出品された作品をみてみましょう！</p>
          <div class="Product__Block js-Product__Block js-hideme">
            <% product.forEach(function(product){ %>
            <article class="Product__Item js-Product__Item">
              <a href="#" class="Product__Link">
                <figure class="Product__Figure">
                  <img src="../img/<%= product.topProImg %>.png" alt="" class="Product__Image">
                </figure>
                <h3 class="Product__Caption"><%= product.topProCap %></h3>
                <p class="Product__Description"><%= product.topProDesc %></p>
                <span class="Product__Price">¥ <%= product.topProPri %></span>
                <botton class="BuyBotton BuyBotton__Product BuyBotton--pink">もっく詳しく</botton>
              </a>
            </article>
            <% }); %>
          </div>
          <a href="#" class="Button Button--green mA mT30">ブースに登録する</a>
        </div>
      </section>
      <section class="Question" id="js-Question">
        <div class="Question__Wrapper Container">
          <h2 class="SectionCaption js-SectionCaption mB50"><%= json.caption[5].title %></h2>
          <% qa.forEach(function(qa){ %>
            <dl class="Question__Item js-Question__Item">
              <dt class="Question__Title js-Question__Title poR"><span class="Question__Icon Question__Icon--question">Q</span><%= qa.qa %><span class="Question__Icon Question__Icon--plus">+</span></dt>
              <dd class="Question__Answer js-Question__Answer"><%= qa.answer %></dd>
            </dl>
          <% }); %>
          <a href="#" class="Button Button--green mA mT30">もっと詳しくみる</a>
        </div>
      </section>
      <div class="Banner Banner--bottom">
        <div class="Banner__Wrapper Container">
          <h3 class="Banner__Caption mB30">作ったら。飾りに行こう。</h3>
          <div class="Buttons">
            <a href="#" class="Button Button--clear Button--banner mR20">ギャラリーに行ってみる</a>
            <a href="#" class="Button Button--clear Button--banner">ブースに登録する</a>
          </div>
        </div>
      </div>
      <% include common/_footer %>
    </div>
    <script src="/js/style.js"></script>
  </body>
</html>
